<% provide(:title, @product.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="product-show-img">
        <%= image_tag @product.display_image.attachment(:product), alt: "product-image" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="show-description">
        <h5><%= link_to "商品一覧に戻る",freezedeli_category_path(@product.taxons.first.id) %></h5>
        <h2><%= @product.name %></h2>
        <h3><%= @product.display_price %></h3>
        <p><%= @product.description %></p>
        <%= form_for :order, url: freezedeli_line_items_path do |f| %>
          <% if @product.variants.any? %>
            <span class='quick-drop'>
              <%= select_tag :variant_id, options_from_collection_for_select(@product.varients, :id, :options_text), class: "select-drop" %>
            </span>
          <% else %>
            <%= hidden_field_tag "variant_id", @product.master.id %>
          <% end %>
          <span class="quick-drop resizeWidth">
            <%= select_tag :quantity, options_for_select([*1..5]), class: "select-drop" %>
          </span>
          <div class="btn-area">
            <%= button_tag(type: 'submit', class: 'btn btn-primary ') do %>
              カートに入れる<i class="fa fa-angle-right" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
